__pycache__/
# IDEs
.idea/
.vscode
# Virtual envs
venv
./venv
# GLabel configuration
.suturelab
# Sphinx documentation
docs/build
docs/source/_build
# Distribution/packaging
/glabel/build/
/standalone
/glabel.egg-info